*{
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif ;
}



@import './variables';
@import './header';
@import './footer';
@import './testimonial';
@import './cards';
@import './texts';
@import './scroll';
@import './img';

/* ====================== INDEX ===============================*/ 

section{
    background-color:$cool-negro;
    .box_img_central{
        
        background-color:$cool-negro;

        .img_central{
            width: 100%;
            height: 65vh;
            object-fit: cover;
        }
    }

    .box_text_central{
        background-color:$cool-negro;
        text-align: center;
        color: $cool-blanco;
    }

    .box_btn_central{
        
        background-color:$cool-negro;
        display:flex;
        justify-content:center;
        align-items:center;
        
        a {
            text-decoration: none;
            color: $cool-blanco;
            .btn_central{
                text-align: center;
                width:200px;
                border-radius: 20px;
                background-color:$cool-bordo;

            }
        }
    }
}

/*================================ Contacto ==============================*/


.form_container{
    height:80vh;
    .encabezado_contact{
        color:$cool-blanco;
    }

    .img_contact{
        border-radius:25px;
        height:400px;
        width:300px;
    }
}